$tc-width:     1100px;

$tc-primary:   #000;
$tc-secondary: #333;
$tc-tertiary:  #E62A86;
$tc-bg:        #F8F8F8;

$tc-font-size-palm:    36px;
$tc-font-size-tablet:  20px;
$tc-font-size-desktop: 14px;
