.card a {

    display: block;
    text-align: center;
    color: $tc-primary;
    border: none;
    margin-bottom: 90px;

    h2 {
        @include inuit-font-size(48px);
        font-weight: 500;
        padding-top: 40px;

        &::before, &::after {
            content: ' ~ ';
        }
    }

   img {
        width: 100%;
        height: auto;
    }

    /* Tablet (740) */
    @include mq($from: tablet) {
        margin-bottom: 40px;
        text-align: left;

        h2 {
            @include inuit-font-size($inuit-font-size-h4);
            padding-top: 14px;

            &::before, &::after {
                content: '';
            }
        }
    }

    /* Desktop (980) */
    @include mq($from: desktop) {
        margin-bottom: 60px;

        .thumbnail {
            overflow: hidden;
        }

       img {
            z-index: 10;
            position: relative;
            overflow: hidden;
            -webkit-transition: -webkit-transform 8s ease;
            -moz-transition: -moz-transform 8s ease;
            -o-transition: -o-transform 8s ease;
            transition: transform 8s ease;
        }

        &:hover {
            img {
                @include vendor(transform, scale(1.30));
            }
        }
    }

    /* Wide (1300) */
    @include mq($from: wide) {
    }

}
