header {

    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;

    a {
        border: none;
    }

    h1 a {
        @include inuit-font-size(60px);
        color: $tc-primary;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    /* Tablet (740) */
    @include mq($from: tablet) {
    }

    /* Desktop (980) */
    @include mq($from: desktop) {
        padding-bottom: 110px;
    }

    /* Wide (1300) */
    @include mq($from: wide) {
    }

}
