.pagination {

    text-align: center;
    margin-top: 90px;

    .page-numbers {
        display: none;

        &.next, &.prev {
            @include inuit-font-size($tc-font-size-palm);
            display: inline-block;
            border-bottom: none;
            margin: 0 20px;
        }

        &.next::after {
            content: ' » ';
        }

        &.prev::before {
            content: ' « ';
        }
    }

    /* Tablet (740) */
    @include mq($from: tablet) {
        .page-numbers.next, .page-numbers.prev {
            @include inuit-font-size($tc-font-size-tablet);
        }
    }

    /* Desktop (980) */
    @include mq($from: desktop) {
        margin-top: 40px;

        .page-numbers, .page-numbers.next, .page-numbers.prev {
            @include inuit-font-size($tc-font-size-desktop);
            display: inline-block;
            background: white;
            border: 1px solid #E5E5E5;
            border-radius: 3px;
            padding: 8px 14px;

            &.current, &:hover {
                color: $tc-primary;
                border-color: #CCC;
            }
        }
    }

    /* Wide (1300) */
    @include mq($from: wide) {
    }

}
