@import "../tools/tools.mq";

header.wrapper {
    width: 100%;
    min-width: 100%;
    padding-top: 50px;

    h1 a {
        font-size: .8em;
        color: $global-font-header-color;
        display: block;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 4px;
        padding-top: 10px;
        border: none;
    }

    @include mq($from: tablet) {
        h1 a {
            font-size: 1.1em;
        }
    }

    @include mq($from: desktop) {
        h1 a {
            font-size: 1.6em;
        }
    }
}
