.pagination {
    margin-top: 30px;
    text-align: center;
    font-size: .8rem;
    color: $global-font-header-color;

    .page-numbers {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid $global-border-color;
        border-radius: 3px;
        background: white;
        text-decoration: none;

        &.current {
            color: $global-font-header-color;
            border-color: #CCC;
            font-weight: bold;
        }

        &.next, &.prev {
        }
    }
}
