///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-max-width: 1100px;
$global-font-color: #333;
$global-font-header-color: #000;
$global-font-tertiary-color: #999;
$global-link-color: #E62A86;
$global-background-color: #F8F8F8;
$global-border-color: #E5E5E5;
