@import "../tools/tools.mq";

section.social {
    overflow: hidden;
    position: relative;
    padding-bottom: 65px;

    ul {
        clear: left;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: 50%;
        text-align: center;
    }

    li {
        display: block;
        float: left;
        position: relative;
        right: 50%;
        font-size: .8em;

        & a {
            color: $global-font-color;
            margin-left: 15px;
            margin-right: 15px;
            text-decoration: none;
            border: none;

            &:hover {
                color: $global-link-color;
            }
        }
    }

    @include mq($from: tablet) {
        padding-bottom: 130px;

        li {
            font-size: .9em;
        }
    }
}
