.construkt {

    .construkt__image,
    .construkt__card,
    .construkt__gallery,
    .construkt__map,
    .construkt__oembed,
    .construkt__text-area,
    .construkt__image-grid
    {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .construkt__image {
        padding-top: 12px;
        padding-bottom: 12px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .construkt__text-area {
        padding-bottom: 0;

        p {
            padding-bottom: 0;
        }
    }

    .construkt__image-grid {
        padding-bottom: 0;

        & > .o-layout > .o-layout__item {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    // Full width oembed content.
    .o-embed-wrap {
        position: relative;
        padding-bottom: 60%;
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

}
